[Unit]
Description=kika-info-bus uwsgi services
After=syslog.target

[Service]
Type=notify
DynamicUser=yes
User=kikadevices
SupplementaryGroups=dialout
ExecStart=/usr/bin/uwsgi --ini /etc/uwsgi/kika-info-bus.ini --die-on-term
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -INT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
Also=kika-info-bus.socket

