[Match]
Name={{ net_dev }}

[Network]
{% if address is defined %}
Address={{address}}
{% else %}
DHCP=yes
{% endif %}
{% if gateway is defined %}
Gateway={{gateway}}
{% endif %}
